.grid-container {
  margin: 100px 0;
}

.grid-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  gap: 100px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nome-categoria {
  font-size: 36px;
  font-weight: 900;
  color: #7500ac;
}

#formula {
  margin: 20px 0;
  font-size: 24px;
  font-weight: 700;
  color: green;
}
